td {
    border: 1px solid black;
}

#center {
    text-align: center;
}

#idle {
    border: 0px solid black;
}

.grey {
    background-color: #dadee5;
}

.light_grey {
    background-color: #eff0f2;
}