/*границы для основной таблицы*/
td {
    border: 1px solid black;
}

/*центрирование названий блоков в таблице*/
.table {
    text-align: center;
}

/* скрыли ненужную ячейку внизу */
#idle {
    border: 0px solid black;
}

.grey {
    background-color: #dadee5;
}

.light_grey {
    background-color: #eff0f2;
}
