/* table {
    здесь цетрирование всей таблицы
} */

td {
    border: 1px solid black;
}





/* .bold {
    font-weight: bold;
} */

#ghgh {
    text-align: center;
    font-size: 20px;

}

#idle {
    border: 0px solid black;
}